// reset
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0
}

.clearfix {
  display: inline-block
}

* html .clearfix {
  height: 1%
}

.clearfix {
  display: block
}

// variables
$brand-color: #ffffff;
$highlight: lighten($brand-color, 35%);
$text-color: #0b0404;
$muted-text-color: #64644B;
$font-family: "EB Garamond",
Garamond,
"Times New Roman",
serif;
$font-family2: "Old London";


$on-bigphone: 375px;
$on-tablet: 768px;
$on-laptop: 960px;
$on-desktop: 1200px;

// syntax-highlighting
code.highlighter-rouge {
  background: $highlight;
  font-family: courier, monospace;
  font-size: .875em;
}

.highlight {
  background: #fff;
  font-family: courier, monospace;
  font-size: .875em;
  margin: 2rem auto;

  >* {
    padding: 0 1.5rem;
  }

  .highlighter-rouge & {
    background: $highlight;
  }

  .c {
    color: #998;
    font-style: italic
  }

  // Comment
  .err {
    color: #a61717;
    background-color: #e3d2d2
  }

  // Error
  .k {
    font-weight: bold
  }

  // Keyword
  .o {
    font-weight: bold
  }

  // Operator
  .cm {
    color: #998;
    font-style: italic
  }

  // Comment.Multiline
  .cp {
    color: #999;
    font-weight: bold
  }

  // Comment.Preproc
  .c1 {
    color: #998;
    font-style: italic
  }

  // Comment.Single
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
  }

  // Comment.Special
  .gd {
    color: #000;
    background-color: #fdd
  }

  // Generic.Deleted
  .gd .x {
    color: #000;
    background-color: #faa
  }

  // Generic.Deleted.Specific
  .ge {
    font-style: italic
  }

  // Generic.Emph
  .gr {
    color: #a00
  }

  // Generic.Error
  .gh {
    color: #999
  }

  // Generic.Heading
  .gi {
    color: #000;
    background-color: #dfd
  }

  // Generic.Inserted
  .gi .x {
    color: #000;
    background-color: #afa
  }

  // Generic.Inserted.Specific
  .go {
    color: #888
  }

  // Generic.Output
  .gp {
    color: #555
  }

  // Generic.Prompt
  .gs {
    font-weight: bold
  }

  // Generic.Strong
  .gu {
    color: #aaa
  }

  // Generic.Subheading
  .gt {
    color: #a00
  }

  // Generic.Traceback
  .kc {
    font-weight: bold
  }

  // Keyword.Constant
  .kd {
    font-weight: bold
  }

  // Keyword.Declaration
  .kp {
    font-weight: bold
  }

  // Keyword.Pseudo
  .kr {
    font-weight: bold
  }

  // Keyword.Reserved
  .kt {
    color: #458;
    font-weight: bold
  }

  // Keyword.Type
  .m {
    color: #099
  }

  // Literal.Number
  .s {
    color: #d14
  }

  // Literal.String
  .na {
    color: #008080
  }

  // Name.Attribute
  .nb {
    color: #0086B3
  }

  // Name.Builtin
  .nc {
    color: #458;
    font-weight: bold
  }

  // Name.Class
  .no {
    color: #008080
  }

  // Name.Constant
  .ni {
    color: #800080
  }

  // Name.Entity
  .ne {
    color: #900;
    font-weight: bold
  }

  // Name.Exception
  .nf {
    color: #900;
    font-weight: bold
  }

  // Name.Function
  .nn {
    color: #555
  }

  // Name.Namespace
  .nt {
    color: #000080
  }

  // Name.Tag
  .nv {
    color: #008080
  }

  // Name.Variable
  .ow {
    font-weight: bold
  }

  // Operator.Word
  .w {
    color: #bbb
  }

  // Text.Whitespace
  .mf {
    color: #099
  }

  // Literal.Number.Float
  .mh {
    color: #099
  }

  // Literal.Number.Hex
  .mi {
    color: #099
  }

  // Literal.Number.Integer
  .mo {
    color: #099
  }

  // Literal.Number.Oct
  .sb {
    color: #d14
  }

  // Literal.String.Backtick
  .sc {
    color: #d14
  }

  // Literal.String.Char
  .sd {
    color: #d14
  }

  // Literal.String.Doc
  .s2 {
    color: #d14
  }

  // Literal.String.Double
  .se {
    color: #d14
  }

  // Literal.String.Escape
  .sh {
    color: #d14
  }

  // Literal.String.Heredoc
  .si {
    color: #d14
  }

  // Literal.String.Interpol
  .sx {
    color: #d14
  }

  // Literal.String.Other
  .sr {
    color: #009926
  }

  // Literal.String.Regex
  .s1 {
    color: #d14
  }

  // Literal.String.Single
  .ss {
    color: #990073
  }

  // Literal.String.Symbol
  .bp {
    color: #999
  }

  // Name.Builtin.Pseudo
  .vc {
    color: #008080
  }

  // Name.Variable.Class
  .vg {
    color: #008080
  }

  // Name.Variable.Global
  .vi {
    color: #008080
  }

  // Name.Variable.Instance
  .il {
    color: #099
  }

  // Literal.Number.Integer.Long
}

// mixins
@mixin divider {
  border: 0;
  display: block;
  width: 102px;
  height: 112px;
  margin: .5em auto 0;
  background: url(images/divider.svg) no-repeat top center;
}

// font
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/eb-garamond-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
    url('/fonts/eb-garamond-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/eb-garamond-v9-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/eb-garamond-v9-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/eb-garamond-v9-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/eb-garamond-v9-latin-regular.svg#EBGaramond') format('svg');
  /* Legacy iOS */
}


// base
body {
  background: $brand-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.3125em;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  margin: .5em auto;
  font-family: $font-family;
}

h1.gothic {
  font-size: 3em;
  margin: .5em auto;
  font-family: $font-family2;
}

h2 {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1.3333em auto;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: center;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;
}

a:focus {
  outline: 1px dashed $text-color;
}

blockquote {
  margin: 2em auto;
  opacity: .8;

  >* {
    padding: 0 3em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-size: .75em;
  opacity: 0.5;
}

p>cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

figure img {
  margin: 2em auto 1em;
}

figcaption {
  font-size: .875em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  opacity: .7;
}

.divided::after {
  content: "";
  @include divider;
}

.home {
  max-width: 30em;
  margin: auto;
  padding: 4em 1em;
}

.content-title {
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .825em;
  white-space: nowrap;
  text-transform: uppercase;
  
    .post-link & {
      padding: .5em 0;
    }
  
    }

  .site-credits {
    margin: 0 auto 2em;
    padding: 0 2em;
    text-align: center;
  }

  .skip-navigation {
    background: $brand-color;
    border: 1px dashed transparent;
    display: block;
    font-size: .875em;
    font-weight: 700;
    margin-top: -2.625rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: lighten($brand-color, 2.5%);
      border-color: $text-color;
      margin-top: 0;
    }
  }

  // masthead
  .site-masthead {
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }

  .site-masthead h1 {
    max-width: 7em;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0.5em;
    line-height: 1.125em;
    padding: 0 2rem;

    @media (min-width: $on-tablet) {
      font-size: 4em;
    }
  }

  .site-masthead h2 {
    color: $muted-text-color;
    font-size: 1.25em;
    margin: 0;
    padding: 0 2rem;

    @media (min-width: $on-tablet) {
      font-size: 2.5em;
    }
  }

  // menu
  .site-navigation {
    margin-top: 2rem;
    padding: 0 1rem;

    &:hover,
    &:focus-within {
      a {
        opacity: .7;
      }
    }
  }

  .site-navigation ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .site-navigation li {
    list-style: none;
    font-size: .875em;
    font-variant: small-caps;
    margin: 0;

    &.active a {
      text-decoration: underline;
    }
  }

  .site-navigation a {
    display: block;
    padding: .25em .5em;
    text-decoration: none;
    transition: opacity .125s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  // post-list
  .post-list {
    margin: 1em 0;
    list-style: none;

    &:hover,
    &:focus-within {
      .post-link {
        opacity: .6;
      }
    }
  }

  .post-list li {
    margin-bottom: 1em;
  }

  .post-link {
    color: $text-color;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    padding: .25em;
    transition: opacity .125s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1 !important;
    }

    @media (min-width: $on-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .post-date {
        margin-left: auto;
      }
    }
  }

  .post-link__heading {
    display: block;
    margin-right: 4em;

    @media (min-width: $on-tablet) {
      padding: .25em 0;
    }

    h1 {
      font-size: 1em;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .post-link__title+.post-link__excerpt {
    opacity: .6;
  }

  .post-pagination {
    margin-top: 4rem;
    font-size: .75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    >* {
      flex-grow: 1;
      flex-basis: 0;
      padding: 1em 0;
    }

    &:hover,
    &:focus-within {
      a {
        opacity: .6;
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      transition: opacity .125s ease-in-out;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  // article
  .post {
    background: white;
    margin: 2em auto;
    max-width: 60rem;
    padding: 2em 0;
    box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
  }

  .post>* {
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
    padding: 0 1em;
  }

  .post>h1 {
    font-size: 2em;
    max-width: 48rem;
    padding: 2em 1em;
    text-align: center;
  }

  .post p {
    text-align: justify;
    text-indent: 1.5em;
    text-justify: inter-word;
  }

  .post p:first-of-type,
  .post h2+p {
    text-indent: 0;
  }

  .post a:hover {
    background: $highlight;
  }

  .post dl,
  .post ul,
  .post ol {
    margin: 1.5em;
  }

  .post li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .post-content:first-child {
    margin-top: 4em;
  }

  .post-meta {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: right;
  }

  .back-link {
    display: inline-block;
    font-size: .75em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
  }

  // footnotes
  .footnote {
    border: 1px solid $muted-text-color;
    border-radius: 1em;
    color: $text-color;
    display: inline;
    font-size: .75em;
    font-weight: 700;
    padding: 0 .75em;
    text-decoration: none;
    margin: 0 .25em;

    &:hover,
    &:focus {
      background: $brand-color;
      border-color: $brand-color;
    }
  }

  .footnotes::before {
    content: '';
    @include divider;
    margin: 4em auto;
  }

  .footnotes {
    margin-bottom: 4em;
  }

  .footnotes li {
    margin-bottom: 1em;
  }

  .reversefootnote {
    font-size: .75em;
    opacity: .75;
  }

  // search
  #search {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
  }

  #search__input {
    background: transparent;
    border: 0;
    font: 1em $font-family;
    padding: .5em;
    color: $text-color;
    text-align: center;

    &:focus {
      outline: 1px dashed $text-color;
    }
  }

  #search button[type="submit"] {
    display: none;
  }

  ::-webkit-input-placeholder {
    color: $muted-text-color;
  }

  ::-moz-placeholder {
    color: $muted-text-color;
  }

  :-ms-input-placeholder {
    color: $muted-text-color;
  }

  :-moz-placeholder {
    color: $muted-text-color;
  }

  iframe {
    margin: 1em auto 2em auto;
  }

  .hash {
    display: none;
  }

  p.titre-media {
    text-align: center;
    font-style: italic;
    margin-bottom: 1em;
  }

  .titre-media-imp {
    display: none;
  }

  audio {
    margin: 1em auto 1em auto;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform: scale(1.05);
    background-color: #0b0404;
  }

  .audio {
    display: none;
  }
